@import "bourbon";
@import "vars";

@media screen and (max-width: $desktop) {

	.sect1__girl {
		width: 50%;
		left: 25px;
	}
	.sect1__text1 {
		padding-left: 15px;
		font-size: 50px;
	}
	.sect1__text2 {
		left: 40%;
		top: 450px;
	}
	.sect3__marks p {
		margin: 0 0 0 40px;
	}
	.sect3__right {min-height: 375px;}
	.sect1__btn-vopros {margin-left: 0;}
	.sect1__cicle3 {left: 340px;}

} //1200


@media screen and (max-width: 992px) {

	.sect1__bottom-head {font-size: 20px;}
	.sect1__bottom {padding: 60px 30px;}
	.sect2__item {padding-left: 0;}
	.sect3__wrap {flex-direction: column-reverse;}
	.sect3__right,
	.sect3__left {width: 100%;}
	.sect3__left {text-align: center;}
	.sect3__left br {display: none;}
	.sect3__p1 {margin-bottom: 10px;}
	.sect3 {padding-bottom: 120px;}
	.footer__logo {width: 20%;}
	.footer__contacts,
	.footer__social {width: 40%;}

	.sect1__girl {height: 630px;}
	.sect1__text1 {
		padding-left: 0;
		font-size: 38px;
	}
	.sect1__text2 {
		left: 45%;
		top: 390px;
		padding-left: 60px;
	}
	.sect1 .container,
	.sect1 {min-height: 1160px;}
	.sect1__year {
		color: rgba(255,255,255,.3);
		left: 55%;
		top: 498px;
	}
	.sect1__bg {height: 520px;}
	.sect4__bottom {display: block;}
	.sect4__bottom input,
	.sect4__bottom button {
		margin: 0 auto 30px;
		width: 310px;
	}
	.sect4__bottom button {
		margin: auto;
		display: block;
	}
	.sect4__cols {display: none;}
	.sect4__mob-wrap {display: block;}
	.sect4__title {margin-bottom: 0;}
	.sect3 .container {padding-left: 15px;}
	.sect1__header {padding-left: 100px;}
	.sect2 {
		background-color: #f5f4f2;
		background-size: contain;
	}
	.footer__contacts, .footer__social {width: 50%;}
	.sect4__bottom input {padding: 0 25px;}

} //992

@media screen and (max-width: 800px) {
	


} //800

@media screen and (max-width: 768px) {

	

} //768
	

@media screen and (max-width: 700px) {
	
	.sect1__conts {
		width: auto;
		p {display: none;}
	}
	.sect1__tel {
		display: block;
		font-size: 0;
		width: 40px;
		height: 40px;
		border: 2px solid $pink-color;
		border-radius: 50%;
		background-image: url('../img/tel-icon.svg');
		background-size: 22px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.sect1__conts {
		padding-top: 51px;
		margin-right: 30px;
	}
	.sect1__text1 {font-size: 30px;}
	.sect1__text2 {font-size: 25px;}
	.sect1__text2 span {font-size: 17px;}
	.sect1__cicle1 {
		left: 0;
		top: 430px;
	}
	.sect1__girl {height: 560px;}
	.sect1 .container, .sect1 {min-height: 1050px;}
	.sect1__year {display: none;}
	.sect1__bottom-text {line-height: 1.5;}
	.sect1__bottom {min-height: 580px;}
	.sect1__bottom-item {
		width: 50%;
		padding: 0 10px;
	}
	.sect2 .title p {font-size: 24px;}
	.sect2__podtitle {font-size: 20px;}
	.sect3__marks p {margin-left: 20px;}
	.sect4 .container {padding: 0 30px;}
	.sect3 .title {
		text-align: center;
		font-size: 34px;
	}
	.sect4__title {font-size: 25px;}
	.footer__contacts {width: 40%;}
	.footer__social {width: 100%;}

} //700

@media screen and (max-width: 600px) {
	
	.sect2__item {width: 50%;}
	.sect3__marks p {padding-left: 30px;}

} //600

@media screen and (max-width: 550px) {

	.sect1__header {
		padding-left: 0;
		background-color: #fff;
		height: 102px;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #d6d6d6;
	}
	.sect1 .container {
		padding-left: 0;
		padding-right: 0;
	}
	.sect1__bg {left: 0;}
	.sect1__btn-vopros,
	.sect1__tel {margin: 0;}
	.sect1__conts {
		margin: 0;
		padding: 0;
	}
	.sect1__logo {
		width: 185px;
		margin-top: 0;
		img {
			float: left;
		}
	}
	.sect1__btn-vopros {
		padding: 0 20px;
		width: auto;
		text-align: center;
		background-image: none;
		min-width: 130px;
	}
	.sect1__text1 {
		width: 100%;
		top: 140px;
		left: 0;
		text-align: center;
		font-size: 9vw;
	}

	.sect1__bg {width: 100%;}
	.sect1__cicle2 {
		top: 150px;
		left: -50px;
	}
	.sect1__girl {
		left: -20px;
		height: 630px;
		min-width: 270px;
	}
	.sect1__cicle3 {
		left: auto;
		right: -170px;
		top: 560px;
	}
	.sect1__cicle1 {top: 570px;}

	.sect1__bottom-items {display: block;}
	.sect1__bottom-item {
		width: 100%;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	.sect1__bottom-img {
		width: 35%;
		float: left;
		padding-right: 5%;
		img {max-height: 140px;}
	}
	.sect1__bottom-text {
		width: 60%;
		float: left;
	}
	.sect1__bottom {
		min-height: 450px;
		padding: 30px;
	}
	.sect1__social:before {display: none;}
	.sect1__social {
		width: 180px;
		img {width: 40px !important;}
	}
	.sect1__social {
		left: 50%;
		top: 570px;
	}
	.sect1__text2 {padding-left: 30px;}
	.sect1__social a {
		margin-bottom: 0;
		margin-right: 30px;
	}
	.sect3 .title br,
	.sect3 .yellow_line:before {display: none;}
	.sect3 .title {
		font-size: 7vw;
		padding: 0 15px;
	}
	.sect3 .yellow_line_mobile {display: block;}
	.sect3 .container {
		padding-left: 0;
		padding-right: 0;
	}
	.sect3__right {
		box-shadow: 0 0 30px -7px rgba(0,0,0,.4);
		margin-bottom: 90px;
		position: relative;
	}
	.sect3__marks {
		position: absolute;
		bottom: -60px;
		width: 100%;
		justify-content: space-between;
		padding: 0 10px;
	}
	.sect3__marks p {
		margin-left: 10px;
		font-size: 2.8vw;
		min-height: 20px;
		line-height: 20px;
	}
	p.sect3__p1 {font-size: 4vw;}
	.sect3__left {
		padding: 0 25px;
		p {margin: 12px 0;}
	}
	.sect3__p2 {
		float: left;
		width: 50%;
		text-align: left;
	}
	.sect3__price {
		float: right;
		width: 50%;
		text-align: right;
		margin: 16px 0;
	}
	.sect3__p3 {
		margin-top: 100px;
		text-align: left;
		&:before {
			content: '';
			display: block;
			clear: both;
		}
	}
	.sect3 {padding-bottom: 90px;}
	.footer__logo {display: none;}
	.footer__contacts, .footer__social {width: 50%;}
	.modal-form {
		position: relative;
		width: 80%;
		margin: auto;
		padding: 5px 40px;
	}

} // 550


@media screen and (max-width: 480px) {
	
	.sect4 {padding-top: 30px;}
	.sect4__form {
		top: auto;
		border-radius: 12px;
	}
	.sect3 {padding: 30px 0;}
	.sect4__bottom input {text-align: center;}
	.sect4__bottom input, .sect4__bottom button {width: 85%;}
	.footer {padding-top: 40px;}
	.sect4__circle {bottom: 25px;}
	.sect3__right {min-height: 260px;}
	.sect3__wrap {
		position: relative;
		z-index: 5;
	}
	.sect1__girl {
		min-width: 200px;
	}
	.sect1__bottom {padding: 20px;}
	.sect1__bottom-head {margin-bottom: 30px;font-size: 4.2vw;}
	.sect1__bottom-item {margin-bottom: 20px;}

	.sect1__bottom {
		height: 500px;
		min-height: 500px;
	}
	.sect1 .container, .sect1 {min-height: 1010px;}
	.sect2 .title p {font-size: 20px;}
	.sect2__podtitle {font-size: 16px;}

	.sect2__icon-wrap:after {width: 40px;height: 40px;}
	.sect2__icon-wrap {
		width: 54px;
		height: 62px;
	}
	.sect2__romb {
		width: 54px;
		height: 32px;
	}
	.sect2__icon-wrap img {
		max-width: 70%;
		max-height: 50%;
	}
	.sect2__romb:before {
		top: -14px;
		border-left: 27px solid transparent;
		border-right: 27px solid transparent;
		border-bottom: 13px solid #fad422;
	}
	.sect2__romb:after {
		bottom: -14px;
		border-left: 27px solid transparent;
		border-right: 27px solid transparent;
		border-top: 13px solid #fad422;
	}
	.sect2__item {
		height: 70px;
		margin-bottom: 50px;
	}
	.sect2__podtitle {margin-bottom: 45px;}
	.sect2__text {font-size: 14px;}
	.sect2 {min-height: auto;}
	.sect3__marks p {font-size: 2.5vw;}
	.sect4__title {font-size: 18px;}
	.footer .tel {font-size: 16px;}
	.footer__social {width: 100%;}
	.footer__copy {
		width: 50%;
		font-size: 12px;
	}

} //480


@media screen and (max-width: 400px) {

	.sect1__logo img {width: 40px;}
	.sect1 .logo_text1 {
		font-size: 20px;
		margin-top: 10px;
	}
	.sect1__logo {width: 130px;}
	.sect1 .logo_text2 {font-size: 5.5px;}
	.sect1__header {height: 80px;}
	.sect1__btn-vopros {
		height: 34px;
		line-height: 34px;
		min-width: 110px;
		font-size: 12px;
	}
	.sect1__tel {
		width: 34px;
		height: 34px;
		background-size: 18px;
	}
	.sect1__bg {height: 450px;}
	.sect1__text2 {top: 300px;}
	.sect1__social {top: 470px;}
	.sect1 .container, .sect1 {min-height: 870px;}
	.sect1__girl {height: 490px;}
	.sect1__text2 {font-size: 21px;}
	.sect1__text2 span {font-size: 15px;}
	.sect1__bottom-text {font-size: 12px;}
	.sect2 .title p,
	.sect3__left p {font-size: 5vw;}
	.sect2__podtitle {font-size: 4vw;}
	.sect4 .container {padding: 0 10px;}
	.sect4__form {padding: 40px 15px 25px;}
	.footer__copy {font-size: 11px;}
	.sect2__text {margin-left: 10px;}
	.sect2 .container {
		padding-left: 7px;
		padding-right: 7px;
	}
	.contacts__form .title {font-size: 8vw;}
	.modal-form {width: 90%;}
	.arcticmodal-close {
		right: -10px;
		top: -55px;
	}
	.contacts__form .title {margin: 30px 0;}
	.contacts__form .my_radio {padding-left: 10px;}
	.sect2__podtitle:after {bottom: -7px;}
	.sect3__circle2 {top: 370px;}

} //400




@media screen and (max-width: 350px) {
	
	.sect1__bottom {
		height: 430px;
		min-height: 430px;
	}
	.sect3__marks p {margin-left: 0;}
	.sect3__p3 {font-size: 16px;}
	.sect4__mob-left p {font-size: 16px;}
	.sect4__mob-right .jq-selectbox {
		height: 40px;
		line-height: 40px;
	}
	.sect3__right {min-height: 180px;}
	.sect2__text {font-size: 11px;}
	.sect1 .container, .sect1 {min-height: 800px;}
	.sect1__social img {width: 30px !important;}
	.footer__copy {font-size: 10px;}
	.modal-form input,
	.modal-form button[type=submit] {
		height: 45px;
		line-height: 45px;
	}

} //350

