.sect1 {
  background-image: url("../img/sect1-bg-blue.png");
  background-size: cover;
  background-position: top center;
  min-height: 1290px;
  position: relative;
  z-index: 0; }
  .sect1 .container {
    position: relative;
    min-height: 1290px; }
  .sect1__bg {
    background-image: url("../img/sect1-block-bg.jpg");
    height: 617px;
    width: 1450px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 100px; }
  .sect1__social {
    position: absolute;
    width: 27px;
    text-align: center;
    left: 45px;
    top: 250px; }
    .sect1__social:before {
      content: '';
      position: absolute;
      display: block;
      height: 77px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.4);
      left: 50%;
      top: -127px; }
    .sect1__social a {
      display: inline-block;
      margin-bottom: 24px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .sect1__social a:hover {
        opacity: .7; }
  .sect1__header {
    padding-left: 152px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sect1__logo {
    margin-top: 25px;
    width: 105px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 10; }
  .sect1 .logo_text1 {
    font-family: "Museo", sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 1;
    margin-top: 20px;
    display: inline-block; }
  .sect1 .logo_text2 {
    display: block;
    margin-top: 2px;
    line-height: 1;
    font-family: "Museo", sans-serif;
    font-weight: bold;
    font-size: 6.5px; }
  .sect1__conts {
    width: 200px;
    padding-top: 46px; }
    .sect1__conts p {
      font-size: 14px;
      line-height: 1.4; }
  .sect1__tel {
    font-family: "Museo", sans-serif;
    font-weight: bold;
    font-size: 21px;
    -webkit-transition: all .25s;
    transition: all .25s;
    display: inline-block;
    margin-bottom: 9px; }
    .sect1__tel:hover {
      color: #e7004a; }
  .sect1__btn-vopros {
    position: relative;
    z-index: 10;
    margin-top: 50px;
    margin-left: 250px;
    display: block;
    background-color: #e7004a;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-left: 50px;
    min-width: 168px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    cursor: pointer;
    background-image: url("../img/icon-question.svg");
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 26px;
    -webkit-box-shadow: 0 4px 20px rgba(231, 0, 74, 0.26);
    box-shadow: 0 4px 20px rgba(231, 0, 74, 0.26);
    -webkit-transition: all .25s;
    transition: all .25s; }
    .sect1__btn-vopros:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .sect1__girl {
    background-image: url("../img/main-girl.png");
    background-repeat: no-repeat;
    width: 558px;
    height: 734px;
    position: absolute;
    top: 44px;
    left: 112px;
    z-index: 3; }
  .sect1__text1 {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 210px;
    padding-left: 85px;
    font-size: 56px;
    font-family: "Museo", sans-serif;
    line-height: 1.25;
    z-index: 6; }
  .sect1__text1-yellow {
    font-weight: bold;
    position: relative; }
    .sect1__text1-yellow:after {
      content: '';
      display: block;
      height: 24px;
      width: 250px;
      background-color: #fad422;
      position: absolute;
      bottom: 0;
      right: -4px;
      z-index: -1; }
  .sect1__text2 {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 545px;
    padding-left: 165px;
    font-size: 27px; }
    .sect1__text2 span {
      font-size: 20px; }
  .sect1__year {
    color: rgba(255, 255, 255, 0.18);
    font-size: 147px;
    font-weight: 900;
    font-family: "Museo", sans-serif;
    position: absolute;
    z-index: 5;
    left: 63%;
    top: 610px;
    min-width: 320px; }
  .sect1__romb1, .sect1__romb2 {
    background-image: url("../img/romb1.png");
    width: 57px;
    height: 61px; }
  .sect1__romb1 {
    left: -60px;
    top: 730px; }
  .sect1__romb2 {
    left: 1320px;
    top: 580px; }
  .sect1__romb3 {
    background-image: url("../img/romb2.png");
    width: 117px;
    height: 124px;
    left: 1475px;
    top: 380px; }
  .sect1__romb4 {
    background-image: url("../img/romb3.png");
    width: 155px;
    height: 155px;
    left: 1250px;
    top: -80px; }
  .sect1__cicle1, .sect1__cicle2, .sect1__cicle3 {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: #e7004a;
    border-style: solid; }
  .sect1__cicle1 {
    width: 45px;
    height: 45px;
    border-width: 9px;
    z-index: 5;
    top: 585px;
    left: 150px; }
  .sect1__cicle2 {
    width: 92px;
    height: 92px;
    border-width: 18px;
    z-index: 2;
    top: 295px;
    left: 245px; }
  .sect1__cicle3 {
    width: 255px;
    height: 255px;
    border-width: 48px;
    z-index: 2;
    top: 510px;
    left: 480px; }
  .sect1__bottom {
    min-height: 675px;
    width: 100%;
    background-color: #fff;
    position: relative;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -160px;
    z-index: 6;
    -webkit-box-shadow: 0 8px 70px rgba(0, 0, 0, 0.26);
    box-shadow: 0 8px 70px rgba(0, 0, 0, 0.26);
    padding: 60px 110px 30px; }
    .sect1__bottom-head {
      text-align: center;
      font-size: 33px;
      font-family: "Museo", sans-serif;
      line-height: 1.3;
      margin-bottom: 65px; }
      .sect1__bottom-head span {
        position: relative;
        display: inline-block;
        z-index: 0; }
        .sect1__bottom-head span:before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          height: 15px;
          width: 106%;
          background-color: #fad422;
          bottom: 3px;
          left: -3%; }
    .sect1__bottom-items {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .sect1__bottom-item {
      width: 300px; }
    .sect1__bottom-img {
      margin-bottom: 30px; }
    .sect1__bottom-text {
      font-size: 15px;
      line-height: 26px; }

.abs {
  position: absolute; }

.sect2 {
  background-image: url("../img/sect2-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 890px;
  padding-top: 225px; }
  .sect2 .title {
    text-align: center; }
    .sect2 .title p {
      font-size: 33px;
      font-family: "Museo", sans-serif;
      line-height: 1.3;
      margin-bottom: 27px; }
  .sect2__podtitle {
    font-size: 26px;
    font-family: "Museo", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-bottom: 66px; }
    .sect2__podtitle:after {
      content: '';
      display: block;
      width: 110%;
      height: 14px;
      background-color: #fad422;
      position: absolute;
      left: -5%;
      bottom: -3px;
      z-index: -1; }
  .sect2__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sect2__text {
    margin-left: 25px;
    font-size: 16px; }
  .sect2__item {
    width: 33.3%;
    height: 90px;
    margin-bottom: 100px;
    padding-left: 70px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .sect2__icon-wrap {
    position: relative;
    width: 76px;
    height: 90px; }
  .sect2__icon {
    width: 76px;
    height: 45px;
    background-color: #fad422;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
